body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.sidebar {
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  padding-top: 20px;
  transition: width 0.3s;
  overflow: hidden;
  z-index: 1000;
}

.sidebar .logo {
  height: 50px;
  margin: 0 auto 20px;
  display: block;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-links a {
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  color: #f1f1f1;
  display: block;
  width: 100%;
  transition: background-color 0.3s;
}

.sidebar-links a:hover {
  background-color: #575757;
}

.sidebar-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #333;
  color: #f1f1f1;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.content {
  margin-left: 250px;
  padding: 20px;
  transition: margin-left 0.3s;
  flex-grow: 1;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
}

.sidebar.collapsed {
  width: 60px;
}

.sidebar.collapsed .sidebar-links a {
  text-align: left;
  padding-left: 15px;
  font-size: 0;
}

.sidebar.collapsed .sidebar-links a::before {
  content: attr(data-icon);
  font-size: 18px;
  margin-right: 15px;
}

.sidebar.collapsed .logo {
  height: 50px;
  width: 50px;
}

.sidebar.collapsed .sidebar-toggle {
  left: 10px;
  right: auto;
}

.content.collapsed {
  margin-left: 60px;
}
